body {
	margin: 0;
	padding: 0;
	font-family: 'Indie Flower', cursive;
	color: #666;
	background: #f2f2f2;
	font-size: 1em;
	line-height: 1.5em;
}

#main-header {
	background: #333;
	color: white;
	height: 80px;
}

#main-header a {
	color: white;
}

#logo-header {
	float: left;
	padding: 15px 0 0 20px;
	text-decoration: none;
}

#logo-header:hover {
	color: #f37974;;
}

#logo-header .site-name {
	display: block;
	font-weight: 700;
	font-size: 1.5em;
}

nav { 
	float: right;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	padding-right: 20px;
}

nav ul li {
	display: inline-block;
	line-height: 80px;
}

nav ul li a {
	display: block;
	padding: 0 10px;
	text-decoration: none;
}

nav ul li a:hover {
	background: #0b76a6;
}

ul.tabs li.activa, ul.tabs li.activa a:hover {
	color: #0b76a6;
	font-weight: bold;
	background: #0b76a6;
}

.hide {
	position: absolute;
	top: -9999px;
	left: -9999px;
}

.container { padding-top: 50px; }

.phrase { color: #0b76a6; }

#AboutMyPassion h1 { color: #0b76a6; }
#CV {display: none;}

.section-header {
	padding: 30px 10px 10px 10px;
	text-align: justify;
	font-family: 'Indie Flower', cursive;
	background-color: #cccccc;
}
.section-header h1 { color: #0b76a6; }
.section-header h2 { color: #f37974; }

.video-responsive {
	position: relative;
	padding-top: 25px;
	padding-bottom: 20%;
	height: 0;
	overflow: hidden;
}

.video-responsive iframe {
	position: absolute;
	top: 0;
	left: 30%;
}

#slider-wrapper {
	position: relative;
	overflow: hidden;
	width: 800px;
	max-width: 100%;
	margin: 0 auto;
	padding: 0 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;	
}

#slider {
	position: relative;
	width: 100%;
	padding-bottom: 50%;
	overflow: hidden;
	border: 10px solid #333;
	border-radius: 5%/10%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;	
}

#slider > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 50%;
}

#slider img {
	width: 100%;
	min-height: 400px;
	position: relative;
	margin: 0;
	padding: 0;
	border: 0;
}

a.mas, a.menos {
	position: absolute;
	top: 50%;
	left: 10px;
	z-index: 10;
	width: 20px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	color: white;
	background: #333;
	text-decoration: none;
	transition: .5s margin ease;
}

#slider-wrapper:hover a.mas {
	margin-left: -40px;
}

#slider-wrapper:hover a.menos {
	margin-left: 20px;
}

a.mas {
	left: 100%;
	margin-left: 100px;
}

a.menos {
	left: 0;
	margin-left: -100px;
}

#content {
	width: 965px;
	overflow: auto;
	position: relative;
	margin: 0px 350px ;
}

.info	{
	list-style: none;
	margin: 0px 0px 15px -12px;
	font-size: 16px;
}

.about_me	{
    background: url("../images/born.png") no-repeat;
	background-position: 0px 0px;
    padding: 0px 0px 12px 40px;
}

.state	{
    background: url("../images/civil.png") no-repeat;
	background-position: 0px 0px;
    padding: 0px 0px 12px 40px;
}

.address	{
    background: url("../images/home.png") no-repeat;
	background-position: 0px 0px;
    padding: 0px 0px 12px 40px;
}

.phone	{
    background: url("../images/phone.png") no-repeat;
	background-position: 0px 0px;
    padding: 0px 0px 12px 40px;
}

.email	{
    background: url("../images/mail.png") no-repeat;
	background-position: 0px 0px;
    padding: 0px 0px 12px 40px;
}

dl	{
	margin: 0px 50px 0px 0px;
}


dt	{
	float: left;
	width: 200px;
	font-size: 20px;
	font-weight: bold;
	font-style: italic;
	text-align: right;
}

dd	{
	width: 620px; 
	float: right;
	margin-right: 20px;
}

.clear	{
	float: none;
	clear: both;
	margin: 20px 0px 20px 0px;
}

.summary h4 { color: #0b76a6; }
.summary p b { color: #f37974; }

.contact_form { text-align: center; }
.contact_form b { color: #0b76a6; }
.contact_name, .contact_mail {
	border-radius: 5px;
	padding: 10px 60px;
	margin: 0 auto 15px;
}
.contact_message {
	border-radius: 5px;
	padding: auto 60px;
}
.contact_button {
	color: #fff;
	background-color: #f37974;
	border-radius: 5px;
	border: none;
	font-size: 17px;
	text-align: center;
	height: 35px;
	width: 90px;
}
